<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to text Analyzer. Enter your text.</h1>
<form action='/analyze' method="get">
    <textarea name= 'text' style='width: 1209px; height: 161px;'></textarea> <br>

    <input type="checkbox" name="removepunc"> Remove Punctuation<br>
    <input type="checkbox" name="fullcaps"> UPPERCASE<br>
    <input type="checkbox" name="newlineremover"> Remove New Line<br>
    <input type="checkbox" name="spaceremover"> Remove Extra Spaces<br>
    <input type="checkbox" name="charcount"> Count the characters<br>
    <button type="'submit"> Analyze Text</button>
</form>
</body>
</html>